 

        .topbar{
            background-color:#B21C1C;
        }

       .hero-section{
    background-image:url("image/background girl home page.png");
    background-size:cover;
    background-position:center;
    height:450px;
    width: 1400px;
    margin-left: 50px;
    margin-bottom: 20px;
    border-radius:20px;
    position:relative;
}

.hero-content{
    position:absolute;
    left:180px;
    top:70px;
}

.hero-content h1{
    font-size:65px;
    margin:0;
}

.hero-content h3{
    font-size:35px;
}

.hero-content p{
    color:#555;
}

        .category-card{
            border:1px solid #ddd;
            border-radius:12px;
            padding:20px;
            display:flex;
            align-items:center;
            gap:15px;
            background:white;
        }

        .category-card img{
            width:80px;
            height:80px;
            border-radius:50%;
            object-fit:cover;
        }

        .category-card p{
            margin:0;
            color:gray;
        }

        .product-img{
            border-radius:10px;
        }

   
